body{
    /*background-color: rgb(15, 16, 0);*/
    background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
}
a{
    text-decoration: none;
    color: black;
}
.marca1{
  margin-left: 300px;
  font-family:fantasy;
    display: inline-block;
  
}
.cabecera{
    width: 90%;
    height: 60px;
    background-color: transparent;
    box-shadow: 0 0 0 10px white, 0 15px 50px;
    margin: 0 auto;
}
.apple-phone{
    width: 25px;
    margin-left: 5px;
    margin-top: 3px;
    /*display: inline-block;*/
}

.botones{
    margin-left: 390px;
    display: inline-block;
}
button{
    cursor: pointer;
    text-decoration: none;
    border: none;
    background-color: transparent;
    border-radius: 5px;
    color: black;
}
button:hover{
  transition: all ease-in-out 0.3s;
  border-bottom: solid white;
}
.card{
  background: rgba(255, 255, 255, 0.549);
}
/*89#card_row{
  width: 300px;
}98*/
strong {
  margin-left: 90px;

  font-size:28px;
  font-family:helvetica;
  font-weight:bold;
  /*color:#71d90b;*/
  color: white;
  text-transform:uppercase;
}
.parpadea {
  
  animation-name: parpadeo;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  -webkit-animation-name:parpadeo;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}

@-moz-keyframes parpadeo{  
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

@-webkit-keyframes parpadeo {  
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
   100% { opacity: 1.0; }
}

@keyframes parpadeo {  
  0% { opacity: 2.0; }
   50% { opacity: 0.0; }
  100% { opacity: 2.0; }
}
#camisa_grande{
  height: 372px;
}
/*.navbas{
  width: 90%;
  background-color: tomato;
  margin: auto;
}*/
#move32{
  text-align: center;
  margin: auto;
  margin-left:  43px;
  margin-right: 20px;
  background: rgba(255, 255, 255, 0.549);
  border: none;
  color: black;
}
/*.btn-group{
  margin: auto;
  background-color: black;
  width: 100%;
}*/
.nav-bar-brands{
  line-height: 1.15;
-webkit-text-size-adjust: 100%;
--swiper-theme-color: #007aff;
--swiper-navigation-size: 44px;
font-family: "Roboto",sans-serif;
font-style: normal;
font-weight: 400;
font-size: 1rem;
box-sizing: inherit;
padding-top: 14px;
display: flex;
flex-direction: row;
padding-left: 0;
margin: auto 0;
margin-right: 180px;
list-style: none;
/*align-items: center;*/
justify-content: center;
}
.nav-bar-brands li{
  display: inline-flex;
}
.a_h3{
  font-size: 18px;
  margin-left: 40px;
  color: blue;
}
.sport-teams{
  font-size: 0.875rem;
letter-spacing: 0.05em;
-webkit-font-smoothing: antialiased;
width: 90%;
line-height: 1.3;
box-sizing: border-box;
padding: 0;
margin: 0 auto;
outline: 0;
font-family: inherit;
font-weight: inherit;
font-style: inherit;
color: inherit;
}
.a_team{
  margin: auto;
  margin-top: 50px;
  margin-left: 20px;
  background-color: transparent;
}
.a_team img{
  border: 1px solid black;
  margin-top: 20px;
}
.pie{
  width: 90%;
  margin: 0 auto;
  /*background-color: rgba(94, 52, 52, 0.549);*/
  background: transparent;
  color: white;

}
.sections{
  margin: 0 auto;
  width: 100%;
}
.sec_pie{
  display: inline-block;
  /*border: 1px solid white;*/

  margin: 0 auto;
}
#sec_pie_1{
  width: 29%;
  /*background-color: yellow;*/
  
}
#sec_pie_2{
  width: 39%;
  /*background-color: red;*/
}
#sec_pie_3{
  width: 25%;

}

.link_pie{
  display: flex;
  margin-top: 15px;
  width: 50%;
}
.link_pie:hover{
  transition: all ease-in-out 0.4s;
  border-bottom: solid white;
}
.logo_h3{
  width: 25px;
}
.logo_secfinal{
  width: 15px;
}

.p_secfinal{
  margin-bottom: 50px;
  float: right;
  font-size: 12px;
  font-style: oblique;
}
.carousel-control-prev, .carousel-control-next{
  color: black;
  opacity: 0.1;
  border-radius: 100px;
}
.carousel-control-prev:hover, .carousel-control-next:hover{
  background-color: rgb(80, 75, 75);
}