.carousel-wrap {
    margin: 10px auto;
    padding: 0 5%;
    width: 85%;
    position: relative;
  
  }
  .item{
    background: rgb(165, 104, 104);
    height: 250px;
    width: 100%;
  }
  /* fix blank or flashing items on carousel */
  .owl-carousel .item {
    position: relative;
    z-index: 100; 
    -webkit-backface-visibility: hidden; 
  }
  
  /* end fix */
  .owl-nav  div {
    margin-top: -26px;
    position: absolute;
    top: 50%;
    color: black;
 
/*    color: #cdcbcd;**/
  }
  
  .owl-nav i {
    font-size: 52px;
  }
  
  .owl-nav .owl-prev {
    left: -30px;
  }
  
  .owl-nav .owl-next {
    right: -30px;
  }
  strong {
    margin-left: 90px;

    font-size:28px;
    font-family:helvetica;
    font-weight:bold;
    /*color:#71d90b;*/
    color: white;
    text-transform:uppercase;
  }
  .parpadea {
    
    animation-name: parpadeo;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  
    -webkit-animation-name:parpadeo;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
  }
  
  @-moz-keyframes parpadeo{  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
  }
  
  @-webkit-keyframes parpadeo {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
     100% { opacity: 1.0; }
  }
  
  @keyframes parpadeo {  
    0% { opacity: 2.0; }
     50% { opacity: 0.0; }
    100% { opacity: 2.0; }
  }
.carousel-wrap p{
    color: white;
    font-size: 15px;
    text-align: center;

  }